${gw_ip} iam.${custom_domain}
${gw_ip} apisix.${custom_domain}
${master_ip} k8s.${custom_domain}
${master_ip} vault.${custom_domain}
${nfs_ip} nfs.${custom_domain}
${gw_ip} iam
${gw_ip} apisix
${master_ip} k8s
${nfs_ip} nfs
${openvpn_ip} vpn

