upstream k8s_apisix_cluster {
  server {{ k8s_master }}:32006;
  server {{ k8s_node_2 }}:32006;
  server {{ k8s_node_1 }}:32006;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;

  server_name apisix.{{ domain }};

  location / {
        proxy_pass http://k8s_apisix_cluster;
        include proxy_params;
    }

  ssl_certificate /etc/ssl/{{ domain }}.crt;
  ssl_certificate_key /etc/ssl/{{ domain }}.key;
}

server {
    listen 80;

    server_name apisix.{{ domain }};

    return 302 https://$host$request_uri;
}